@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
html {
  height: 100%; }

body {
  margin: 0;
  color: #2E3141;
  font: 16px/24px 'Roboto', sans-serif;
  background: #fff;
  min-width: 320px;
  height: 100%;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  border-style: none; }

a {
  color: #000;
  text-decoration: underline;
  outline: none; }

a:hover {
  text-decoration: none; }

* {
  outline: none; }

header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
  display: block; }

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; }

#header {
  position: relative;
  z-index: 3;
  border-bottom: 1px solid rgba(150, 162, 180, 0.15);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between; }

.main {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  padding: 30px 0; }

.logo {
  margin: 33px 24px;
  width: 172px;
  height: 40px;
  overflow: hidden;
  display: block;
  background: url(../images/logo.svg) no-repeat;
  text-indent: -9999px;
  cursor: pointer; }
  @media only screen and (max-width: 500px) {
    .logo {
      margin: 20px 24px; } }
  .logo a {
    height: 100%;
    display: block; }

.header-tools {
  border-left: 1px solid rgba(150, 162, 180, 0.15);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .header-tools__link {
    font-size: 14px;
    line-height: 30px;
    padding: 37px 58px;
    display: block;
    text-decoration: none;
    color: #8F9AAC;
    position: relative; }
    @media only screen and (max-width: 500px) {
      .header-tools__link {
        padding: 25px 35px; } }
  .header-tools__link-text {
    padding-left: 24px;
    display: inline-block;
    vertical-align: top;
    position: relative; }
    .header-tools__link-text:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -7px;
      width: 17px;
      height: 14px;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
      .header-tools__link--join .header-tools__link-text:before {
        background-image: url("data:image/svg+xml,%3Csvg id='Group_694' data-name='Group 694' xmlns='http://www.w3.org/2000/svg' width='16.654' height='12.899' viewBox='0 0 16.654 12.899'%3E%3Cpath id='Path_1603' data-name='Path 1603' d='M.72,179.318a.72.72,0,1,0,0,1.441H3.754v-1.441Z' transform='translate(0 -173.588)' fill='%2396a2b4'/%3E%3Cpath id='Path_1604' data-name='Path 1604' d='M98.982,44.252h-8.1a2.4,2.4,0,0,0-2.4,2.4v3.329h6.489l-1.388-1.388A.72.72,0,1,1,94.6,47.575l2.618,2.618a.718.718,0,0,1,.155.231.728.728,0,0,1,.056.279.712.712,0,0,1-.053.272.734.734,0,0,1-.156.236L94.6,53.829a.721.721,0,0,1-1.019-1.019l1.388-1.388H88.483v3.329a2.4,2.4,0,0,0,2.4,2.4h8.1a2.4,2.4,0,0,0,2.4-2.4v-8.1A2.4,2.4,0,0,0,98.982,44.252Z' transform='translate(-84.729 -44.252)' fill='%2396a2b4'/%3E%3C/svg%3E"); }

.activate-block {
  max-width: 500px;
  margin: auto;
  position: relative;
  padding-top: 163px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px; }
  .activate-block__icon {
    position: absolute;
    background: url("../images/activate-icon@2x.png") no-repeat;
    width: 181px;
    height: 142px;
    left: 50%;
    top: 0;
    margin-left: -90px;
    -webkit-background-size: contain;
    background-size: contain; }
  .activate-block__notify {
    background: #6666FE;
    color: #fff;
    text-align: center;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 43px;
    right: 50px;
    font-size: 9px;
    line-height: 15px;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 4px rgba(102, 102, 254, 0.4);
    box-shadow: 0 2px 4px rgba(102, 102, 254, 0.4);
    font-family: 'sf_pro_displaybold'; }
  .activate-block__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 16px;
    text-align: center;
    font-family: 'sf_pro_displaybold'; }
  .activate-block__description {
    color: #8F9AAC;
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 35px;
    text-align: center; }
  .activate-block__text {
    text-align: center;
    margin: 0 0 34px; }

.activate-frame {
  margin: 0 auto 36px;
  max-width: 384px; }
  .activate-frame__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid rgba(150, 162, 180, 0.15);
    padding: 0 0 17px;
    margin: 0 0 16px; }
  .activate-frame__change {
    padding: 0;
    background: none;
    border: none;
    color: #8F9AAC;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    font-family: 'sf_pro_displaybold'; }
    .activate-frame__change:hover {
      color: #2E3141; }
  .activate-frame__mail {
    color: #2E3141;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 0 0 24px;
    font-size: 14px;
    line-height: 21px; }
    .activate-frame__mail:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 14px;
      height: 11px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.767' height='10.817' viewBox='0 0 13.767 10.817'%3E%3Cg id='envelope' transform='translate(0 -54.82)'%3E%3Cg id='Group_545' data-name='Group 545' transform='translate(0 54.82)'%3E%3Cpath id='Path_1591' data-name='Path 1591' d='M1.321,58.154q.261.184,1.575,1.095t2.013,1.4l.326.234q.25.181.415.292t.4.25a2.318,2.318,0,0,0,.442.207,1.217,1.217,0,0,0,.384.069h.015a1.218,1.218,0,0,0,.384-.069,2.32,2.32,0,0,0,.442-.207q.234-.138.4-.25t.415-.292q.25-.181.327-.234l3.6-2.5a3.65,3.65,0,0,0,.937-.945,2.029,2.029,0,0,0,.377-1.16,1.24,1.24,0,0,0-1.229-1.229H1.229a1.1,1.1,0,0,0-.91.4,1.551,1.551,0,0,0-.319,1,1.794,1.794,0,0,0,.423,1.049A3.813,3.813,0,0,0,1.321,58.154Z' transform='translate(0 -54.82)' fill='%236666fe'/%3E%3Cpath id='Path_1592' data-name='Path 1592' d='M13,185.105q-2.52,1.705-3.826,2.651-.438.323-.711.5a4.384,4.384,0,0,1-.726.369,2.211,2.211,0,0,1-.845.188H6.876a2.211,2.211,0,0,1-.845-.188,4.386,4.386,0,0,1-.726-.369q-.273-.18-.711-.5Q3.557,187,.776,185.105A4.068,4.068,0,0,1,0,184.437v6.1a1.183,1.183,0,0,0,.361.868,1.183,1.183,0,0,0,.868.361H12.538a1.233,1.233,0,0,0,1.229-1.229v-6.1A4.235,4.235,0,0,1,13,185.105Z' transform='translate(0 -180.949)' fill='%236666fe'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"); }
  .activate-frame__tools {
    text-align: center;
    color: #8F9AAC; }
    .activate-frame__tools .re-send-btn {
      margin-left: 10px; }

.re-send-btn {
  border: none;
  background: none;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  font-family: 'sf_pro_displaybold';
  color: #5858F5;
  cursor: pointer; }
  .re-send-btn:hover {
    opacity: .7; }

.fast-access {
  color: #8F9AAC; }
  .fast-access__title {
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    font-family: 'sf_pro_displayregular';
    margin: 0 0 20px; }

.access-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between; }
  @media only screen and (max-width: 500px) {
    .access-list {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: -5px;
      margin-right: -5px; } }
  @media only screen and (max-width: 500px) {
    .access-list__item {
      -webkit-box-flex: 0 0 50%;
      -moz-box-flex: 0 0 50%;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      padding: 0 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }

.access-item {
  height: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  width: 107px;
  border-radius: 50px;
  margin-bottom: 15px; }
  @media only screen and (max-width: 500px) {
    .access-item {
      width: 100%; } }
  .access-item:hover {
    opacity: .8; }
  .access-item--yandex {
    background-color: #FFCD00; }
  .access-item--mail-ru {
    background-color: #0059FD; }
  .access-item--gmail {
    background-color: #C43821; }
  .access-item--outlook {
    background-color: #0072C6; }
